body {
  background-color: #b56576 !important;
}
img {
  width: 100%;
}
h1,
h2 {
  text-align: center;
  font-family: "Cabin", sans-serif;
  color: #474973;
}
h2 {
  font-size: large !important;
  font-family: "Raleway", sans-serif;
}
a {
  color: #eaac8b !important;
}
footer {
  font-family: "Raleway", sans-serif;
  color: #eaac8b;
  text-align: center;
  padding: 10px;
}

/*Box stylings*/
.content-box {
  max-width: 800px;
  margin: 60px auto 0;
  background-color: #f1dac4;
  border-radius: 20px;
  padding: 20px;
}
.search-bar-box {
  margin: 0 auto 30px;
}
.current-weather-box {
  padding-top: 20px;
  border-radius: 20px;
  background-color: #eaac8b;
}
.future-weather-box {
  text-align: center;
  margin-top: 40px;
}

/*Styling for search bar localization*/
.localization-icon {
  font-size: 30px;
  text-align: center;
  display: inline;
  color: #474973;
  padding-top: 4px;
  transition: all 200ms ease;
}
#localization-input {
  width: 100%;
  line-height: 1.3rem;
  border-radius: 5px;
  padding: 7px;
  margin-top: 7px;
  background-color: #84b9ff31;
  transition: all 200ms ease;
}
.submit-button {
  width: 100%;
  line-height: 1.4rem;
  border: #6d597a 1.5px solid;
  border-radius: 10px;
  padding: 7px;
  margin-top: 7px;
  background-color: #7c9afc00;
  font-family: "Raleway", sans-serif;
  color: #6d597a;
  transition: all 200ms ease;
}

/*Styling for current temperature elements*/
#current-weather-icon {
  max-width: 140px;
  display: block;
  margin: auto;
}
#current-weather-description {
  margin-top: 10px;
  text-align: center;
  font-size: large;
  font-family: "Raleway", sans-serif;
  color: #474973;
  text-transform: capitalize;
}
#current-temperature {
  font-size: 100px;
  font-weight: bolder;
  text-align: end;
  position: relative;
  color: #474973;
  font-family: "Cabin", sans-serif;
  right: -20px;
}
.celsius-fahrenheit {
  display: flex;
  align-self: flex-end;
  padding-bottom: 43px;
  font-family: "Raleway", sans-serif;
  color: #6d597a;
}
#current-day,
.day-max-min,
#current-date-time {
  text-align: center;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
  color: #6d597a;
}
#current-day {
  padding-top: 20px;
}
#stats-row {
  justify-content: center;
}
.stats {
  text-align: center;
  padding: 10px;
  margin: 3%;
  font-family: "Raleway", sans-serif;
  color: #6d597a;
}
.stats-number {
  font-size: 32px;
  font-family: "Cabin", sans-serif;
  font-weight: bolder;
  margin: -8px;
  color: #474973;
}

/*Sytling for weather fortecast*/
.future-weather-image {
  max-width: 80px;
}
.future-day-temperature,
.future-day {
  font-family: "Raleway", sans-serif;
  color: #6d597a;
}
.tempFormat {
  font-weight: 900;
}

#celsius,
#fahrenheit {
  padding: 0 10px;
}

/* Pseudo Classes*/

.localization-icon:hover {
  cursor: pointer;
  color: #b56576;
}
.submit-button:hover {
  color: #b56576;
  border-color: #b56576;
  box-shadow: #b56576;
}
.localization-input:hover {
  border-color: #b56576;
  box-shadow: #b56576;
}

#celsius:hover,
#fahrenheit:hover {
  cursor: pointer;
}
a:hover {
  color: #6d597a;
}

@media only screen and (min-width: 775px) {
  .future-weather-image {
    padding-top: 30px;
    padding-bottom: 15px;
  }
}
